*.pyc
*.p
*.pt
*.pth
.DS_Store

/.ipynb_checkpoints/*
/.vscode/*
/experiments/*

**/data/*
**/squad/*
**/squad2target/*
**/CAQA_venv/*
**/QADA_venv/*
**/anaconda3/*

**/EQA/*
**/question_generation_psuraj/*
**/UnanswerableQA/*
**/UnsupervisedQA/*
**/logs/*
**/*venv*/*